body {
    width: 100%;
    min-height: 100vh;	
    background-image: repeating-linear-gradient(
        to bottom right,
        hsl(0deg, 80%, 50%),
        hsl(60deg, 80%, 50%),
        hsl(120deg, 80%, 50%),
        hsl(180deg, 80%, 50%),
        hsl(240deg, 80%, 50%),
        hsl(300deg, 80%, 50%),
        hsl(360deg, 80%, 50%) 50%
    );
    background-size: 1000% 1000%;
    animation: colorRotation 240s linear 0s infinite;
}

@keyframes colorRotation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500% 500%;
	}
}
.container {
	width: 100%;
	height: 32vw;
	background: url('https://livedoor.blogimg.jp/redcomet2ch/imgs/e/9/e92315e4-s.jpg') repeat-x;
	background-size: 50%;
	animation: scroll-anim 15s linear infinite;
}

@keyframes scroll-anim {
	100% {
		background-position: -100% 0;
	}
}

/* 全体のスタイル */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* メニューコンテナ全体のスタイル */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* メニューボタンのスタイル */
.menu-button {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

/* メニューバーのスタイル */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #333;
  transition: 0.4s;
}

/* メニューボタンがチェックされた場合の1つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 3px);
}

/* メニューボタンがチェックされた場合の2つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(2) {
  opacity: 0;
}

/* メニューボタンがチェックされた場合の3つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -13px);
}

/* メニュートグルのスタイル */
#menu-toggle {
  display: none;
}

/* メニューのスタイル */
.menu {
  position: fixed;
  top: 0;
  left: -100%; /* 変更: メニューを左からスライドインさせるために left に設定 */
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  transition: 0.4s;
  z-index: 1;
  overflow-y: auto;
}

/* メニュートグルがチェックされた場合のメニューの表示アニメーション */
#menu-toggle:checked ~ .menu {
  left: 0; /* メニューを表示させるために left を 0 に変更 */
}

/* メニュー内のリストのスタイル */
.menu ul {
  list-style: none;
  padding: 20px;
}

/* メニュー内リストのリンクのスタイル */
.menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: block;
  padding: 10px 0;
  transition: 0.2s;
}

/* メニュー内リストのリンクのホバー時のスタイル */
.menu ul li a:hover {
  color: #bf7497;
}

.sticky {
    postion: -webkit-sticky;
    position: sticky;
    top: 0;
}

.moji {
 position: absolute;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.moji2 {
 position: absolute;
  position: absolute;
  top: 230%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}
